head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

body {
    background-color: bisque;
}

.pageHeader {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22pt;
    font-weight: bolder;
}

h2 {
    flex-basis: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    display: flex;
    max-width: 62%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: dashed;
    border-color: #103344;
    border-width: 1pt;      
}

.aside {
    float: right;
    display: block;
    float: 30%;
    width: 30%;
    margin-left: 20px;
    box-shadow: inset 5px 0 5px -5px #103344;
    font-style: italic;
    font-size: 9pt;
    color: #00090e;
    padding-left: 10px;
    
}

.img {
    width: 100px;
    height: 80px;
    display: flexbox;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.fish__image {
    width: 100px;
    height: 80px;
    display: flexbox;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.fishCard {
    flex-basis: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    display: flex;
    max-width: 62%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: dashed;
    border-color: #103344;
    border-width: 1pt;
}

.Fish_CardDiv {
    flex-basis: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    display: flex;
    max-width: 62%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: dashed;
    border-color: #103344;
    border-width: 1pt;
}

.fishName {
    font-weight: bolder;
    text-align: center;
}

#fishList {
    flex-basis: 30%;
    width: 6cm;
    border-style: dashed;
    border-color: #103344;
    border-width: 1pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

.fishDetails {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7pt;
    padding: 5px;
    text-align: left;
    }

.harvestLocations {
    flex-basis: 30%;
    width: 300px;
    border-style: dashed;
    border-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    margin-top: 10px;
}